<footer>
    <div class="container">
        <div class="main-footer">
            <div class="footer-logo">
                <a href="/"><img src="../../../assets/RND_Footer.png" alt="" /></a>
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a href="https://www.reassigned.us/privacy">Privacy</a></li>
                    |
                    <li><a href="https://www.reassigned.us/neutrality">Neutrality</a></li>
                    |
                    <li><a href="https://www.reassigned.us/support">Support</a></li>
                    |
                    <li><a href="https://www.reassigned.us/terms">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>