<app-header [show]="false"></app-header>
<main>
    <section>
        <div class="container">
            <div class="login-div">
                <form [formGroup]="ForgotpassConfrim" (ngSubmit)="onSubmit()">
                    <div class="form-header">
                        <h6>Forgot Password</h6>
                    </div>

                    <p class="required-fild"><span>*</span> Required</p>
                    <div class="labels">
                        <label for="Code">Code <span>*</span></label>
                        <input type="text" (keypress)="numberOnly($event)" tabindex="1" formControlName="code"
                            name="code" id="code" autofocus />

                        <div *ngIf="submitted && f.code.errors" class="error">
                            <div *ngIf="f.code.errors.required">code is required</div>
                        </div>
                    </div>
                    <div class="labels">
                        <label for="name">Password <span>*</span></label>
                        <input type="password" formControlName="password" name="password" id="password" />

                        <div *ngIf="submitted && f.password.errors" class="error">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.pattern">Please enter stronge password</div>
                        </div>
                    </div>
                    <div class="labels">
                        <label for="name">Confirm Password <span>*</span></label>
                        <input type="password" formControlName="confirmpassword" name="password" id="password" />
                        <div *ngIf="submitted && f.confirmpassword.errors" class="error">
                            <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmpassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>

                    <div class="sub-btn">
                        <button type="submit" *ngIf="!buttonshow">Confirm</button>
                        <button type="button" *ngIf="buttonshow" disabled>Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>