.gridbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 2rem;
}
.items {
    border: 1px solid grey;
    min-height: 300px;
    border-radius: 15px;
    padding: 0.5rem;
}
.grid-header {
    min-height: 50px;
}
.grid-header h2 {
    font-weight: 600;
}
.grid-header h5 {
    font-size: 1.1rem;
    font-weight: 500;
}
.address {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
}
.address-details {
    width: 50%;
    margin-bottom: 1rem;
    min-height: 37px;
}
.address-details span {
    display: block;
    font-weight: 600;
    font-size: 0.9rem;
}
.address-details .add-title {
    font-weight: 600;
    font-size: 0.9rem;
    color: grey;
}
.dolor-div {
    margin-bottom: 1.5rem;
}
.dolor-div h6 {
    font-weight: 600;
    font-size: 0.9rem;
    color: grey;
}
.dolor-div h6 span {
    color: #000;
}
.dolor-div h6 span.ac-dolor {
    color: #21a9e1;
}
.footer-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-btn button {
    height: 25px;
    width: 30px;
    background: #f0f0f1;
    border: none;
    border-radius: 3px;
    font-size: 0.9rem;
    margin-left: 0.2rem;
}
.footer-btn button.active-blue {
    color: #fff;
    background: #21a9e1;
}
.footer-btn button.active-yellow {
    color: #fff;
    background: #fad839;
}
