<a
    href="https://portal.cherryvoice.com/api/oauth2/auth?client_id=506e242d6eb994da2a85cb89e0ba7a8b5a406006&redirect_url=http://localhost:4200/neonlogin&response_type=code">test</a>



<div class="gridbox">
    <div class="items">
        <div class="grid-header">
            <h2>7G</h2>
            <h5>7G</h5>
        </div>
        <div class="address">
            <div class="address-details">
                <span class="add-title">Email</span>
                <span></span>
            </div>
            <div class="address-details">
                <span class="add-title">Address</span>
                <span>USA</span>
            </div>
            <div class="address-details">
                <span class="add-title">Phone</span>
                <span></span>
            </div>
        </div>
        <div class="dolor-div">
            <h6>OS : <span>$0.000000</span></h6>
            <h6>UA : <span class="ac-dolor">$0.000000</span></h6>
            <h6>CL : <span>$0.000000</span></h6>
        </div>
        <div class="footer-btn">
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button class="active-blue">a</button>
            <button>a</button>
        </div>
    </div>
    <div class="items">
        <div class="grid-header">
            <h2>Bluetone TF</h2>
        </div>
        <div class="address">
            <div class="address-details">
                <span class="add-title">Email</span>
                <span></span>
            </div>
            <div class="address-details">
                <span class="add-title">Address</span>
            </div>
            <div class="address-details">
                <span class="add-title">Phone</span>
                <span></span>
            </div>
        </div>
        <div class="dolor-div">
            <h6>OS : <span>$0.000000</span></h6>
            <h6>UA : <span class="ac-dolor">$0.000000</span></h6>
            <h6>CL : <span>$0.000000</span></h6>
        </div>
        <div class="footer-btn">
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button class="active-blue">a</button>
            <button>a</button>
        </div>
    </div>
    <div class="items">
        <div class="grid-header">
            <h2>bulkvs</h2>
        </div>
        <div class="address">
            <div class="address-details">
                <span class="add-title">Email</span>
                <span></span>
            </div>
            <div class="address-details">
                <span class="add-title">Address</span>
                <span>CANADA</span>
            </div>
            <div class="address-details">
                <span class="add-title">Phone</span>
                <span></span>
            </div>
        </div>
        <div class="dolor-div">
            <h6>OS : <span>$0.000000</span></h6>
            <h6>UA : <span class="ac-dolor">$0.000000</span></h6>
            <h6>CL : <span>$0.000000</span></h6>
        </div>
        <div class="footer-btn">
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button class="active-blue">a</button>
            <button>a</button>
        </div>
    </div>
    <div class="items">
        <div class="grid-header">
            <h2>CDS</h2>
        </div>
        <div class="address">
            <div class="address-details">
                <span class="add-title">Email</span>
                <span></span>
            </div>
            <div class="address-details">
                <span class="add-title">Address</span>
                <span>USA</span>
            </div>
            <div class="address-details">
                <span class="add-title">Phone</span>
                <span></span>
            </div>
        </div>
        <div class="dolor-div">
            <h6>OS : <span>$0.000000</span></h6>
            <h6>UA : <span class="ac-dolor">$25.557600</span></h6>
            <h6>CL : <span>$0.000000</span></h6>
        </div>
        <div class="footer-btn">
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button class="active-yellow">a</button>
            <button>a</button>
        </div>
    </div>
    <div class="items">
        <div class="grid-header">
            <h2>7G</h2>
            <h5>7G</h5>
        </div>
        <div class="address">
            <div class="address-details">
                <span class="add-title">Email</span>
                <span></span>
            </div>
            <div class="address-details">
                <span class="add-title">Address</span>
                <span>USA</span>
            </div>
            <div class="address-details">
                <span class="add-title">Phone</span>
                <span></span>
            </div>
        </div>
        <div class="dolor-div">
            <h6>OS : <span>$0.000000</span></h6>
            <h6>UA : <span class="ac-dolor">$0.000000</span></h6>
            <h6>CL : <span>$0.000000</span></h6>
        </div>
        <div class="footer-btn">
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button class="active-blue">a</button>
            <button>a</button>
        </div>
    </div>
    <div class="items">
        <div class="grid-header">
            <h2>Bluetone TF</h2>
        </div>
        <div class="address">
            <div class="address-details">
                <span class="add-title">Email</span>
                <span></span>
            </div>
            <div class="address-details">
                <span class="add-title">Address</span>
            </div>
            <div class="address-details">
                <span class="add-title">Phone</span>
                <span></span>
            </div>
        </div>
        <div class="dolor-div">
            <h6>OS : <span>$0.000000</span></h6>
            <h6>UA : <span class="ac-dolor">$0.000000</span></h6>
            <h6>CL : <span>$0.000000</span></h6>
        </div>
        <div class="footer-btn">
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button class="active-blue">a</button>
            <button>a</button>
        </div>
    </div>
    <div class="items">
        <div class="grid-header">
            <h2>bulkvs</h2>
        </div>
        <div class="address">
            <div class="address-details">
                <span class="add-title">Email</span>
                <span></span>
            </div>
            <div class="address-details">
                <span class="add-title">Address</span>
                <span>CANADA</span>
            </div>
            <div class="address-details">
                <span class="add-title">Phone</span>
                <span></span>
            </div>
        </div>
        <div class="dolor-div">
            <h6>OS : <span>$0.000000</span></h6>
            <h6>UA : <span class="ac-dolor">$0.000000</span></h6>
            <h6>CL : <span>$0.000000</span></h6>
        </div>
        <div class="footer-btn">
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button class="active-blue">a</button>
            <button>a</button>
        </div>
    </div>
    <div class="items">
        <div class="grid-header">
            <h2>CDS</h2>
        </div>
        <div class="address">
            <div class="address-details">
                <span class="add-title">Email</span>
                <span></span>
            </div>
            <div class="address-details">
                <span class="add-title">Address</span>
                <span>USA</span>
            </div>
            <div class="address-details">
                <span class="add-title">Phone</span>
                <span></span>
            </div>
        </div>
        <div class="dolor-div">
            <h6>OS : <span>$0.000000</span></h6>
            <h6>UA : <span class="ac-dolor">$25.557600</span></h6>
            <h6>CL : <span>$0.000000</span></h6>
        </div>
        <div class="footer-btn">
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button>a</button>
            <button class="active-yellow">a</button>
            <button>a</button>
        </div>
    </div>
</div>