<app-header [show]="true"></app-header>
<app-middle title="Home" description="View or update your information"></app-middle>
<main>
    <section>
        <div class="container">
            <div class="home-div mt-5 mb-3 ">
                <p>
                    The FCC established the Reassigned Numbers Database (RND) for prevention of consumers from receiving
                    unwanted calls. The
                    creation of the RND will allow callers to determine whether a telephone number has been permanently
                    disconnected after a
                    date certain and therefore is no longer assigned to the party the caller wants to reach.
                </p>

                <p>
                    Service Providers (or their Agents) are required to submit permanently disconnected number data for
                    numbering resources
                    from geographic numbering plan area (NPA) codes in the United States and its territories. The
                    requirement applies to SPs
                    allocated geographic number resources from geographic NPAs from other NANP countries, and does not
                    apply to Service
                    Providers (SPs) allocated non-geographic 5XX-NXX numbering resources.
                </p>

                <p>
                    Users (or their Agents) have the ability to query the RND to validate whether a telephone number has
                    the potential to
                    have been reassigned from the consumer the User intends to reach, thus allowing the User to avoid
                    calling a consumer
                    with a reassigned number who may wish to receive the call. The RND provides callers access to a
                    reliable source of
                    permanently disconnected telephone numbers in order to obtain Safe Harbor from TCPA liability.
                </p>
                <p>
                    For more information please contact RND Customer Support at 833-763-2366 or<a href="#">
                        support@reassigned.us</a>.
                </p>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>