<app-header [show]="true"></app-header>
<app-middle title="Change Password" description="Change Password"></app-middle>
<main>
    <section>
        <div class="container">
            <div class="mt-5 mb-5 change-div">
                <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">
                    <p class="required-fild"><span>*</span> Required</p>
                    <div class="labels">
                        <label for="CurrentPassword">Current Password <span>*</span></label>
                        <input type="password" formControlName="currentpassword" name="CurrentPassword"
                            id="CurrentPassword" tabindex="1" autofocus />
                        <div *ngIf="submitted && f.currentpassword.errors" class="error">
                            <div *ngIf="f.currentpassword.errors.required">Current Password is required</div>
                        </div>

                    </div>
                    <div class="labels">
                        <label for="name">New Password<span>*</span></label>
                        <input type="password" formControlName="Newpassword" tabindex="2" name="Newpassword"
                            id="Newpassword" />
                    </div>
                    <div class="labels">
                        <label>Password Requirements:</label>
                        <ul class="p-0">
                            <li><i class="fa fa-times-circle me-2 text-danger"
                                    *ngIf="f.Newpassword.errors && (f.Newpassword.errors.required || f.Newpassword.errors.minlength)"></i>
                                <i class="fa fa-check-circle me-2 text-success"
                                    *ngIf="!f.Newpassword.errors || (!f.Newpassword.errors.required && !f.Newpassword.errors.minlength)"></i>
                                At
                                least 7
                                characters
                            </li>
                            <li>
                                <i class="fa fa-times-circle me-2 text-danger"
                                    *ngIf="f.Newpassword.errors && (f.Newpassword.errors.required || f.Newpassword.errors.Lowercase)"></i>
                                <i class="fa fa-check-circle me-2 text-success"
                                    *ngIf="!f.Newpassword.errors || (!f.Newpassword.errors.required && !f.Newpassword.errors.Lowercase)"></i>
                                At least 1 lowercase letter
                            </li>

                            <li>
                                <i class="fa fa-times-circle me-2 text-danger"
                                    *ngIf="f.Newpassword.errors && (f.Newpassword.errors.required || f.Newpassword.errors.Uppercase)"></i>
                                <i class="fa fa-check-circle me-2 text-success"
                                    *ngIf="!f.Newpassword.errors ||( !f.Newpassword.errors.required && !f.Newpassword.errors.Uppercase)"></i>
                                At least 1 uppercase letter
                            </li>
                            <li>
                                <i class="fa fa-times-circle me-2 text-danger"
                                    *ngIf="f.Newpassword.errors && (f.Newpassword.errors.required || f.Newpassword.errors.Number)"></i>
                                <i class="fa fa-check-circle me-2 text-success"
                                    *ngIf="!f.Newpassword.errors ||( !f.Newpassword.errors.required && !f.Newpassword.errors.Number)"></i>
                                At least 1 number
                            </li>
                            <li>
                                <i class="fa fa-times-circle me-2 text-danger"
                                    *ngIf="f.Newpassword.errors && (f.Newpassword.errors.required || f.Newpassword.errors.Speacial)"></i>
                                <i class="fa fa-check-circle me-2 text-success"
                                    *ngIf="!f.Newpassword.errors ||( !f.Newpassword.errors.required && !f.Newpassword.errors.Speacial)"></i>
                                At least 1 special character '!@#$%^&*'
                            </li>

                        </ul>
                    </div>
                    <div class="labels">
                        <label for="name">Confirm New Password<span>*</span></label>
                        <input type="password" formControlName="confirmpassword" tabindex="3" name="ConfirmNewPassword"
                            id="ConfirmNewPassword" />
                        <div *ngIf="submitted && f.confirmpassword.errors" class="error">
                            <div *ngIf="f.confirmpassword.errors.required">Confirm New is required</div>
                            <div *ngIf="f.confirmpassword.errors.mustMatch">Passwords must match</div>

                        </div>
                    </div>
                    <div class="sub-btn">
                        <button type="submit" tabindex="4">Change Password</button>
                    </div>
                </form>
            </div>


        </div>

    </section>
</main>
<app-footer></app-footer>